
cmake-build-debug/
CMakeFiles/
Testing/
Makefile
cmake_install.cmake
CMakeCache.txt
build.ninja
.ninja_deps
.ninja_log


*.exe
mygnss10


out.txt
out_gps.txt
out_multi-gnss.txt
*.log


*.obj
*.o
/build*/
*.csv
__pycache__/
